@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #202423;
    border-bottom: 1px solid rgb(105, 103, 103);
}

header nav .container-fluid a {
    color: white;
    font-weight: 700;
}
header nav .container-fluid a:hover {
    color: white;
    font-weight: 700;
}

header nav .container-fluid .collapse .navbar-nav a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

header nav .container-fluid .collapse .navbar-nav a.active {
    color: #F1B64C;
    font-weight: 700;
}

header nav .container-fluid .collapse .navbar-nav a:hover {
    color: #F1B64C;
}

header nav .container-fluid .collapse .navbar-nav:last-child .dropdown button {
    background-color: transparent !important;
    border-color: white !important;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
}

header nav .container-fluid .collapse .navbar-nav:last-child .dropdown ul {
    background-color: #202423;
}


.navbar-toggler {
    background-color: white;
    border: 1px solid white;
    /* Change the background color to white */
}

.navbar-toggler:hover {
    background-color: white;
    border: 1px solid white;
    /* Change the background color to white */
    box-shadow: none !important;
    outline: none;
}